@model WebNews.Models.ContactUs
<div class="container" style="margin-top:25px;margin-bottom:25px;">
    
        <div class="col-lg-10">
            <form asp-action="ContactPost" >
                <div class="row">
                    <div class="col form-group" style="margin-top:16px;">
                        <input  type="text" asp-for="Name" class="form-control" id="name" placeholder="Your Name" required>
                    </div>
                    <div class="col form-group mt-3">
                        <input type="email" class="form-control" asp-for="Email" id="email" placeholder="Your Email" required>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <input type="text" class="form-control" asp-for="Subject" id="subject" placeholder="Subject" required>
                </div>
                <div class="form-group mt-3">
                    <textarea class="form-control" asp-for="Message" rows="5" placeholder="Message" required></textarea>
                </div>
                <br />
                <div class="text-center "><button type="submit" class="btn btn-primary">Send Message</button></div>
            </form>
        </div>

</div>