@model IEnumerable<WebNews.Models.Categories>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Appuser> SignInManager
@inject UserManager<Appuser> UserManager
@{
    ViewData["Title"] = "Index2";
}

<header>
    @if (SignInManager.IsSignedIn(User))
    {
        <section id="featured-services" class="featured-services">
            <div class="container" data-aos="fade-up">
                <div class="row" >
                    @foreach (var item in Model)
                    {
                        <div class="col-md-6 col-lg-3  align-items-stretch mb-5 mb-lg-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                                <a style="margin-bottom:20px" href="/Home/news/@item.Id">
                                    @if (item.Id == 1)
                                    {
                                        <div class="icon"><i class="fa fa-football-ball"></i></div>
                                    }
                                    @if (item.Id == 2)
                                    {
                                        <div class="icon"><i class="fa fa-balance-scale"></i></div>
                                    }
                                    @if (item.Id == 3)
                                    {
                                        <div class="icon"><i class="fa fa-book-open"></i></div>
                                    }
                                    @if (item.Id == 4)
                                    {
                                        <div class="icon"><i class="fa fa-ambulance"></i></div>
                                    }
                                </a>
                                @if (item.Id == 5)
                                {
                                    <a href="/Home/Newsall">
                                        <div class="icon"><i class="bi bi-building"></i></div>
                                    </a>
                                }
                                <h4 class="title"><a href="">@item.Name</a></h4>
                                <p class="description">@item.Discription</p>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </section>
    }
    else
    {
        <h1 style="border: outset;padding: 15px 30px;
                   margin-bottom: 40px; margin-top: 40px; text-align: center ">
            Use Your Email To Login / Create New Account
        </h1>
    }
</header>
