@model WebNews.Models.Categories

@{
    ViewData["Title"] = "Create";
}

<div style="background-color:gainsboro">
    <h2 style="text-align: center; padding-top:25px">Create News</h2>
    <hr />
    <form asp-action="Create">
        <div class="row col-lg-6" style="margin-left: auto; margin-right: auto; padding-bottom:30px">
            <div class="mb-3 row ">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3 row">
                <label asp-for="Discription" class="control-label"></label>
                <input asp-for="Discription"  class="form-control" required />
                <span asp-validation-for="Discription" class="text-danger"></span>
            </div>
            
            <div class="form-group ">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Back to List</a>
            </div>

        </div>
    </form>
</div>
