@model WebNews.Models.Categories

@{
    ViewData["Title"] = "Details";
}
<h1 style="text-align:center">Details</h1>

<div class="col-10 fa-align-center" style="margin-left: auto; margin-right: auto;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discription)
                </th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Discription)
                </td>
               
            </tr>
        </tbody>
    </table>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />

        <a asp-action="Index" class="btn btn-danger">Back to List</a>
    </form>
</div>
